In [1]:
import seaborn as sns
import cudf
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import sys

In [33]:
ratingFile = './data/ratings.csv'
movieFile = './data/movies.csv'

# Read the data
ratings = cudf.read_csv(ratingFile)
movies = cudf.read_csv(movieFile)

In [34]:
print(ratings.head())

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [35]:
print(movies.head())

   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy

In [36]:
possibleRatings = ratings['rating'].unique()

In [37]:
# create a blnk dataframe
df = cudf.DataFrame(columns=['movieId', 'title', 'genre', '0.5', '1.0', '1.5', '2.0', '2.5', '3.0', '3.5', '4.0', '4.5', '5.0'])
df

Empty DataFrame
Columns: [movieId, title, genre, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0]
Index: []

In [38]:
# fill the dataframe

df['movieId'] = movies['movieId']
df['title'] = movies['title']
df['genre'] = movies['genres']
df

,movieId,title,genre,0.5,1.0,1.5,2.0,2.5,3.0,3.5,4.0,4.5,5.0
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,2,Jumanji (1995),Adventure|Children|Fantasy,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,3,Grumpier Old Men (1995),Comedy|Romance,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,5,Father of the Bride Part II (1995),Comedy,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58093,193876,The Great Glinka (1946),(no genres listed),<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
58094,193878,Les tribulations d'une caissi√®re (2011),Comedy,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
58095,193880,Her Name Was Mumu (2016),Drama,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
58096,193882,Flora (2017),Adventure|Drama|Horror|Sci-Fi,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
58097,193886,Leal (2018),Action|Crime|Drama,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [39]:
for ind in df.index:
    df.loc[ind, '0.5'] = ratings[(ratings['movieId'] == df.loc[ind, 'movieId']) & (ratings['rating'] == 0.5)].shape[0]
    df.loc[ind, '1.0'] = ratings[(ratings['movieId'] == df.loc[ind, 'movieId']) & (ratings['rating'] == 1.0)].shape[0]
    df.loc[ind, '1.5'] = ratings[(ratings['movieId'] == df.loc[ind, 'movieId']) & (ratings['rating'] == 1.5)].shape[0]
    df.loc[ind, '2.0'] = ratings[(ratings['movieId'] == df.loc[ind, 'movieId']) & (ratings['rating'] == 2.0)].shape[0]
    df.loc[ind, '2.5'] = ratings[(ratings['movieId'] == df.loc[ind, 'movieId']) & (ratings['rating'] == 2.5)].shape[0]
    df.loc[ind, '3.0'] = ratings[(ratings['movieId'] == df.loc[ind, 'movieId']) & (ratings['rating'] == 3.0)].shape[0]
    df.loc[ind, '3.5'] = ratings[(ratings['movieId'] == df.loc[ind, 'movieId']) & (ratings['rating'] == 3.5)].shape[0]
    df.loc[ind, '4.0'] = ratings[(ratings['movieId'] == df.loc[ind, 'movieId']) & (ratings['rating'] == 4.0)].shape[0]
    df.loc[ind, '4.5'] = ratings[(ratings['movieId'] == df.loc[ind, 'movieId']) & (ratings['rating'] == 4.5)].shape[0]
    df.loc[ind, '5.0'] = ratings[(ratings['movieId'] == df.loc[ind, 'movieId']) & (ratings['rating'] == 5.0)].shape[0]
    if ind % 100 == 0:
        print("Number of Movies Processed: ", ind)

Number of Movies Processed:  0
Number of Movies Processed:  100
Number of Movies Processed:  200
Number of Movies Processed:  300

In [ ]:
# store the dataframe in a new csv file
df.to_csv('combined.csv')